.navbar {
    width: 100%;
    position: absolute;
   
}

.navbarSub {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
}



@media screen and (min-width: 900px) {
    .navbar {
      
    }

    .navbarSub {
        justify-content: flex-start;
        padding: 20px 1187.3px 53.06px 96px;
    }
}